main{
      height: fit-content;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
}

form{
      display: flex;
      flex-direction: column;
      min-width: 300px;
      width: 20%;
      padding: 20px;
      border-radius: 13px;
      border: 1px solid #b0bdc1;
}

.form__titles{
      display: flex;
      flex-direction: column;
      gap: 5px;
      text-align: center;
      margin-bottom: 20px;
}

.form__mainTitle{
      font-size: 1.4rem;
}

.form__secondaryTitle{
      color: #8f9496;
}

.form__inputs{
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 15px;
}

.input__select {
      background-color: white;
      padding-left: 7px;
      background-repeat: no-repeat;
      background-position: right center;
  }

.input{
      height: 40px;
      border: 1px solid #4ca9c5;
      border-radius: 7px;
}



.input::placeholder{
      padding-left: 10px;
      color: #b0bdc1;

}



.form__inicioSesion{
      width: 50%;
      align-self: center;
      padding: 10px;
      border-radius: 7px;
      background-color: #007bff;
      color: white;
      border: 1px solid #4ca9c5;
      font-size: 1rem;
      font-weight: 600;
      cursor: pointer;
      transition: 0.2s all;
}

.form__inicioSesion:hover{
      background-color: #005fc4;
}

