/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    background-color: #f8f9fa;
    color: #343a40;
}

/* Flexbox general */
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Contenedor principal */
main {
    width: 90%;
    margin: auto;
    margin-top: 20px;
    border: 1px solid #ced4da;
    border-radius: 15px;
    background-color: white;
}

/* Contenedor de la cabecera */
.header__informacion {
    background-color: #f0f4f8;
    padding: 15px 20px;
    gap: 12px;
    flex-wrap: wrap;
    border-radius: 15px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;

    display: flex;
    justify-content: space-between;
}

.header__titles{
    display: flex;
    gap: 10px;
}

.header__titles p {
    font-weight: 700;
    color:#1b376f;
    cursor: pointer;
}



.header__informacion p, .header__informacion button {
    padding: 8px 12px;
    font-size: 1rem;
}

.informacion{
    margin: 25px;
}

.thead{
    background-color: #1b376f;
}

/* Botón de cerrar sesión */
.header__btn {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: #ed0000;
    color: white;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.header__btn:hover {
    background-color: rgb(185, 0, 0);
}

/* Tabla */
table {
    width: 100%;
    margin: 20px auto;
    border-collapse: collapse;
}

th, td {
    padding: 12px 15px;
    border: 1px solid #dee2e6;
    border-radius: 5px;
}

#comentarios-solicitud{
    height:150px;
}









/* Ventana emergente */
#overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: #fff;
    padding: 20px;
    position: relative;

    border-radius: 10px;
    width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.popup-content table tbody{
    display: flex;
    flex-direction: column;
    gap:10px
}

.popup-content table tr{
    display: flex;
    flex-direction: column;
    gap:10px
}

.popup-content table th{
    background-color: #eaecef;
    color:#808080;
    text-align: left;
    border-radius:5px;
}

.beneficio-solicitud{
    background-color: #fff;
}


/* Botones de la ventana emergente */
.popup-buttons button {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#close-btn {
    color: black;
    transition: all 0.1s;
}

#close-btn:hover {
    color: #e63946;
}

.estado-btn{
    background-color: transparent;
    font-size: 1rem;
    font-weight: 800;
    border: none;
    cursor: pointer;
}
.estado-btn-menu{
    background-color: transparent;
    font-size: 1rem;
    font-weight: 800;
    border: none;
}



.flex_data{
    display: flex;
    justify-content: center;
}

.blue{
    color:#007bff;
}

.red{
    color: #ed0000;
}

.informacion thead{
    background-color: #1b376f;
    color: white;

}

.estado-solicitud{
    padding: 12px 15px;
}

.close_btn{
    position: relative;
    text-align: right;
    padding-right: 5px;
    font-weight: 900;
    font-size: 1.1rem;
    cursor: pointer;
    
}

.bg-blue{
    background-color: #007bff;
    color: white;
}

.bg-red{
    background-color: #ed0000;
    color: white;
}

.bg-yellow{
    background-color: #f8c593;
}

.yellow{
    color: #fca54f;
}

#tableBody{
    background-color: #f7f7f7;
}