<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles.css">
    <title>Estado Solicitudes</title>
</head>
<body>
    <header></header>

    <main class="content">
        <!-- Contenedor con tres columnas -->
        <div class="header__informacion ">
            <div class="header__titles">
                <p id="seleccionarSolicitudes" class="btn-select__solicitud text--blue text--bold">Selecciona tu solicitud</p>
                <p id="verMisSolicitudes" class="text--blue text--bold border-top--blue">Ver mis solicitudes</p>
            </div>
            <button id="btnCerrarSesion" class="header__btn">Cerrar Sesión</button>
        </div>

        <!-- Tabla -->
        <div class="informacion">
            <table>
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Beneficio</th>
                        <th>Estado</th>
                    </tr>
                </thead>
                <tbody id="tableBody">
                    <!-- Filas dinámicas generadas por JS -->
                </tbody>
            </table>
        </div>

        <!-- Ventana emergente -->
        <div id="overlay">

            <div class="popup-content">
                <div id="close-btn" class="close_btn">
                    <span>X</span>
                </div>
                <h2>Resumen de Solicitud</h2>
                <table>
                    <tr>
                        <th>Fecha</th>
                        <td id="fecha-solicitud"></td>
                    </tr>

                    <tr>
                        <th>Beneficio</th>
                        <td id="beneficio-solicitud" class="beneficio-solicitud"></td>
                    </tr>
                    <tr>
                        <th>Comentarios</th>
                        <td id="comentarios-solicitud"></td>
                    </tr>

                    <tr>
                        <td id="estado-solicitud"></td>
                    </tr>

                </table>

            </div>
        </div>
    </main>

    <footer></footer>

    <!-- Scripts -->
    <script type="module" src="./js/scriptHU03.js"></script>
    <script src="../../app/main.js"></script>
</body>
</html>
