<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="assets/styles/autenticacion.css">
      <title>Inicio de Sesión</title>
</head>
<body>
      <header></header>
            <main>
                  <img width="100px" src="/assets/LogoazulSura.png" alt="">
                  <form action="">

                        <div class="form__titles">
                              
                              <label class="form__mainTitle" for="">Iniciar Sesión</label>
                              <label class="form__secondaryTitle" for="">GRUPOS SURA</label>
                        </div>

                        <div class="form__inputs">

                              <select class="input input__select" name="" id="identificacionUsuarion">
                                    <option>Tipo de identificación</option>
                                    <option value="CC">Cedula de ciudadania</option>
                                    <option value="CE">Cedula de extranjeria</option>
                              </select>
      
                              <input id="numeroIdentificacionUsuario" class="input" type="number" placeholder="Número de identificación">
                              <input id="contraseñaUsuario" class="input" type="password" name="" placeholder="Contraseña">

                              <input id="iniciarSesionButton" class="form__inicioSesion" type="button" value="Iniciar Sesión">
                        </div>
                  </form>
            </main>
      <footer></footer>  
      
      <script type="module" src="/src/controllers/controllersHU_01/autenticacion.js"></script>
      <script src="/src/app/main.js"></script>
</body>
</html>