<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="./AdmonSolicitudes.css">

    <title>con ventana sobre puesta</title>
</head>
<body class="grid">
    <header></header>
    <main class="flex">
        <div class="header__informacion flex">
            <a href="../vistas_HU04/AdmonSolicitudes.html" class="border-top--blue text--blue text--bold">Ver Solicitudes</a>
            <!-- <p class="border-top--blue text--blue text--bold">Ver solicitudes</p> -->
            <a href="../vistas_HU05/admonPoliza.html" class="text--blue text--bold">Administrar Polizas</a>
            <!-- <p class="text--blue text--bold">Administrar polizas</p> -->
            <button class="header__btn" id="btnCerrarSesion">Cerrar Sesión</button>
        </div>
        <!-- __________________________________________________________________________- -->
        <h1 class="text--blue" align="center">Lista de Solicitudes Empleados</h1>
        <div class="informacion grid content">
            <table id="empleadosTable">
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Empleado</th>
                        <th>Área</th>
                        <th>Póliza</th>
                        <th>Beneficio</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody id="tableBody">
                    <!-- Las filas de la tabla se llenarán con JavaScript -->
                </tbody>
            </table>
        </div>
    
        <!-- Ventana sobrepuesta -->
        <div id="overlay" class="overlay">
            <div class="popup">
                <h2>Resumen Solicitud</h2>
                <br>
                <div class="doprdown">
                    
                    
                        <span>Información Empleado</span>
                        <span class="symbol" id="infoempleado" style="cursor: pointer;">&#8964;</span> <!-- Flecha hacia la derecha -->
                        <div class="novisible" id="desplegarcontraer" >
                            <h5>Nombre del Empleado</h5>
                            <p id="nombreE"></p>
                            <h5>Área</h5>
                            <p id="area"></p>
                            
                        </div>
                        <br>
                        <span>Información Solicitud</span>
                        <span class="symbol" id="infosolicitud" style="cursor: pointer;">&#8964;</span> <!-- Flecha hacia la derecha -->
                        <div class="novisible" id="desplegarcontraer2" >
                            <h3>Fecha Solicitud</h3>
                            <p id="fecha"></p>
                            <h3>Póliza</h3>
                            <p id="poliza"></p>
                            <h3>Beneficio</h3>
                            <p id="beneficio"></p>
                            <h3>Comentario</h3>
                            <input type="text" id="comentario">
                        </div>


                </div>
                
                <br>
                <button id="closeWindowBtn">Cerrar</button>
                <button id="aceptar" class="button--success">Aceptar</button>
                <button id="rechazar" class="button--danger">Rechazar</button>

            </div>
        </div>
        </div>
    </main>
    <footer></footer>

    
    <script type="module" src="./js/scriptHU04.js"></script>
    <script src="../../app/main.js"></script>
       <script>
        
       </script>
</body>
</html>