*{
    margin: 0;
    font-family: "Nunito", sans-serif;
}
.flex{
    display: flex;
}
.grid{
    display: grid;
}
.text--blue{
    color: #1b376f;
}
.text--bold{
    font-weight: 900;
}
p,h3,label{
    font-family: "Nunito", sans-serif;
}
body{
    gap: 50px;
}
main{
    gap: 10px;
    justify-content: space-between;
    width: 70%;
    flex-direction: column;
    margin: auto;
    border: solid #b0bdc1;
    border-radius: 15px;
    padding: 0 0 12px 0;
    overflow: hidden;

    grid-template-rows: repeat(1, 1fr); /* una filas de igual tamaño */
    grid-template-columns: 1fr;
}
.header__informacion p,button{
    padding: 4px;
    cursor: pointer;
}
#btnCerrarSesion{
    background-color: red;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    width: 80%;
    height: 6vh;
    color: white;
    transition: 0.2s;
}
#btnCerrarSesion:hover{
    background-color: rgb(185,0,0);
}
.border-top--blue{
    border-bottom: 4px solid #007bff;
}
.encabezado{
    grid-template-rows: 1fr;
    grid-template-columns:repeat(3, 180px 50px 520px);
    align-items: center;
    padding: 20px 0px 20px 40px;
    gap: 5px;
    background-color: #eaecef;
    border-bottom: solid #b0bdc1;
}
.divVerSolicitud{
    cursor: pointer;
}
.divSeleccionSolicitud{
    cursor: pointer;
}
.raya-vertical {
    width: 1px; /* Ancho de la raya */
    height: 100%; /* Asegura que ocupe toda la altura del contenedor */
    background-color: #b0bdc1; /* Color de la raya */
    margin: 0 20px; /* Espaciado a ambos lados de la raya */
}
.selectorProveedores{
    grid-template-rows: 1fr; /* una filas de igual tamaño */
    grid-template-columns:repeat(1, 1fr); /* una columna misma fración */
    padding-left: 40px;
    padding-right: 40px;
}
.selectorProveedores select{
    width: 100%;              /* El select ocupa todo el ancho disponible */
    padding: 8px;            /* Espaciado interno para mejorar la apariencia */
    font-size: 16px;          /* Tamaño de la fuente */
    border: 1px solid #4ca9c5;
    border-radius: 5px;
}
.titulos{
    grid-template-rows: 1fr; /* una filas de igual tamaño */
    grid-template-columns:repeat(1, 1fr); /* cuatro columna misma fración */
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 10px;
}
.formulario1{
    grid-template-rows: 1fr; /* una filas de igual tamaño */
    grid-template-columns: 62px 1fr 1fr 1fr; /* cuatro columna misma fración */
    gap: 8px;/*  Espacio entre las filas */
    height: 10vh;
    padding-left: 40px;
    padding-right: 40px;
}
.formulario1 div {
    display: flex;
    flex-direction: column;
}
.formulario2{
    grid-template-rows: 1fr; /* una filas de igual tamaño */
    grid-template-columns:repeat(3, 1fr); /* cuatro columna misma fración */
    gap: 8px; /* Espacio entre las filas */
    height: 10vh;
    padding-left: 40px;
    padding-right: 40px;
}
.formulario3{
    grid-template-rows: 1fr; /* una filas de igual tamaño */
    grid-template-columns:repeat(2, 1fr); /* 2 columna misma fración */
    gap: 8px; /* Espacio entre las filas */
    height: 10vh;
    padding-left: 40px;
    padding-right: 40px;
}
.formulario4{
    grid-template-rows: 1fr; /* una filas de igual tamaño */
    grid-template-columns:repeat(1, 1fr); /* 1 columna misma fración */
    gap: 8px; /* Espacio entre las filas */
    height: 10vh;
    padding-left: 40px;
    padding-right: 40px;
    /*display: none;*/
    margin-bottom: 40px;
    flex-direction: row;
    align-items: end;
    justify-content: end;
}
.divFormulario4{
    flex-direction: column;
    width: 50%;
}
.item {
    color: #b0bdc1;
    padding: 10px;
    text-align: start;
    border: 1px solid #b0bdc1;
    border-radius: 5px;
    background-color: #eaecef;
}
.botones{
    margin-top: 20px;
    margin-bottom: 40px;
    justify-content: space-around;
    align-items: center;
}
#btnAgregar{
    background-color: #007bff;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    width: 30%;
    height: 6vh;
    color: white;
    transition: 0.2s;
}
#btnEliminar{
    background-color: red;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    width: 30%;
    height: 6vh;
    color: white;
    transition: 0.2s;
}
#btnAgregar:hover{
    background-color: #0167d4;
}
#btnEliminar:hover{
    background-color: rgb(185,0,0);
}
.colorAzulTexto{
    color: #007bff;
}
#selector-tipo--ID{
    border-radius: 5px;
    border: 1px solid #4ca9c5;
    padding: 8px;
}
.inputs-informacion--Proveedor{
    border-radius: 5px;
    border: 1px solid #4ca9c5;
    padding: 8px;
}
.inputs-informacion--contacto{
    border-radius: 5px;
    border: 1px solid #4ca9c5;
    padding: 8px;
    width: 100%;
}
#selector-polizas-activas{
    width: 100%;
    border-radius: 5px;
    border: 1px solid #4ca9c5;
    padding: 8px;
}
#selector-polizas-disponibles{
    width: 100%;
    border-radius: 5px;
    border: 1px solid #4ca9c5;
    padding: 8px;
}
#selector-beneficios{
    width: 100%;
    border-radius: 5px;
    border: 1px solid #4ca9c5;
    padding: 8px;
}

@media (width <= 350px) {

    .encabezado{
        grid-template-rows: 3fr; /* una filas de igual tamaño */
        grid-template-columns:repeat(1, 1fr); /* una columna misma fración */
    }

    #btnCerrarSesion{
        width: 90%;
    }

    .selectorProveedores{
        height: 5vh;
    }
    .titulos #infoProveedor{
        margin-top: 10px;
    }
    .titulos #contactoProveedor{
        margin-top: 10px;
    }
    .titulos #adminPoliza{
        margin-top: 10px;
    }
    .formulario1{
    grid-template-rows: 4fr; /* una filas de igual tamaño */
    grid-template-columns: 1fr; /* cuatro columna misma fración */
    gap: 8px;/*  Espacio entre las filas */
    height: 40vh;
    padding-left: 40px;
    padding-right: 40px;
    }

    .formulario2{
    grid-template-rows: 4fr; /* una filas de igual tamaño */
    grid-template-columns: 1fr; /* cuatro columna misma fración */
    gap: 8px;/*  Espacio entre las filas */
    height: 40vh;
    padding-left: 40px;
    padding-right: 40px;
    }

    .formulario3{
    grid-template-rows: 4fr; /* una filas de igual tamaño */
    grid-template-columns: 1fr; /* cuatro columna misma fración */
    gap: 8px;/*  Espacio entre las filas */
    height: 20vh;
    padding-left: 40px;
    padding-right: 40px;
    }

    .formulario4{
    
    height: 22vh;
    padding-left: 40px;
    padding-right: 40px;

    /*display: none;*/
    margin-top: 5px;
    margin-bottom: 20px;
    flex-direction: row;
    
    }

    .divFormulario4{
        flex-direction: column;
        width: 100%;
    }

    .botones{
        margin-top: 40px;
    }

    main{
        gap: 40px;
        width: 90%;
        height: 1700px;
    }
}

@media (width <= 400px) {

    .encabezado{
        grid-template-rows: 3fr; /* una filas de igual tamaño */
        grid-template-columns:repeat(1, 1fr); /* una columna misma fración */
    }

    #btnCerrarSesion{
        width: 90%;
    }

    .selectorProveedores{
        height: 5vh;
    }
    .titulos #infoProveedor{
        margin-top: 10px;
    }
    .titulos #contactoProveedor{
        margin-top: 30px;
    }
    .titulos #adminPoliza{
        margin-top: 30px;
    }
    .formulario1{
    grid-template-rows: 4fr; /* una filas de igual tamaño */
    grid-template-columns: 1fr; /* cuatro columna misma fración */
    gap: 8px;/*  Espacio entre las filas */
    height: 40vh;
    padding-left: 40px;
    padding-right: 40px;
    }

    .formulario2{
    grid-template-rows: 4fr; /* una filas de igual tamaño */
    grid-template-columns: 1fr; /* cuatro columna misma fración */
    gap: 8px;/*  Espacio entre las filas */
    height: 40vh;
    padding-left: 40px;
    padding-right: 40px;
    }

    .formulario3{
    grid-template-rows: 4fr; /* una filas de igual tamaño */
    grid-template-columns: 1fr; /* cuatro columna misma fración */
    gap: 8px;/*  Espacio entre las filas */
    height: 40vh;
    padding-left: 40px;
    padding-right: 40px;
    }

    .formulario4{
    
    height: 22vh;
    padding-left: 40px;
    padding-right: 40px;

    /*display: none;*/
    margin-top: 40px;
    margin-bottom: 40px;
    flex-direction: row;
    align-items: end;
    justify-content: end;
    }

    .divFormulario4{
        flex-direction: column;
        width: 100%;
    }

    .botones{
        margin-top: 70px;
    }

    main{
        gap: 28px;
        width: 90%;
    }
}

@media (width <= 768px) {

    .encabezado{
        grid-template-rows: 3fr; /* una filas de igual tamaño */
        grid-template-columns:repeat(1, 1fr); /* una columna misma fración */
    }

    #btnCerrarSesion{
        width: 90%;
    }

    .formulario1{
        grid-template-rows: 4fr; /* una filas de igual tamaño */
    grid-template-columns: 1fr; /* cuatro columna misma fración */
    gap: 8px;/*  Espacio entre las filas */
    height: 40vh;
    padding-left: 40px;
    padding-right: 40px;
    }
    .titulos #contactoProveedor{
        margin-top: 50px;
    }
    .formulario2{
    grid-template-rows: 4fr; /* una filas de igual tamaño */
    grid-template-columns: 1fr; /* cuatro columna misma fración */
    gap: 8px;/*  Espacio entre las filas */
    height: 30vh;
    padding-left: 40px;
    padding-right: 40px;
    }

    .formulario3{
    grid-template-rows: 4fr; /* una filas de igual tamaño */
    grid-template-columns: 1fr; /* cuatro columna misma fración */
    gap: 8px;/*  Espacio entre las filas */
    height: 20vh;
    padding-left: 40px;
    padding-right: 40px;
    }

    .formulario4{
    
    height: 10vh;
    padding-left: 40px;
    padding-right: 40px;
    /*display: none;*/
    margin-bottom: 10px;
    }

    .divFormulario4{
        flex-direction: column;
        width: 100%;
    }

    .botones{
        margin-top: 40px;
    }

    main{
        gap: 28px;
        width: 90%;
    }
}

@media (width <= 880px) {
    .encabezado{
        grid-template-rows: 3fr; /* una filas de igual tamaño */
        grid-template-columns:repeat(1, 1fr); /* una columna misma fración */
    }

    #btnCerrarSesion{
        width: 90%;
    }

    .formulario1{
        grid-template-rows: 4fr; /* una filas de igual tamaño */
    grid-template-columns: 1fr; /* cuatro columna misma fración */
    gap: 8px;/*  Espacio entre las filas */
    height: 22vh;
    padding-left: 40px;
    padding-right: 40px;
    }
    .formulario2{
        height: 10vh;
    }
    
}


@media (width <= 1164px) {
    .encabezado{
        grid-template-rows: 3fr; /* una filas de igual tamaño */
        grid-template-columns:repeat(1, 1fr); /* una columna misma fración */
    }

    #btnCerrarSesion{
        width: 90%;
    }

    .formulario1{
    grid-template-rows: 4fr; /* una filas de igual tamaño */
    grid-template-columns: 1fr; /* cuatro columna misma fración */
    gap: 8px;/*  Espacio entre las filas */
    height: 40vh;
    padding-left: 40px;
    padding-right: 40px;
    }
    .formulario2{
        grid-template-rows: 4fr; /* una filas de igual tamaño */
    grid-template-columns: 1fr; /* cuatro columna misma fración */
    gap: 8px;/*  Espacio entre las filas */
    height: 30vh;
    padding-left: 40px;
    padding-right: 40px;
    }
    
}