<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./admonPoliza.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
    <title>Admin póliza</title>
</head>
<body class="grid">
    <header></header>

    <main class="flex">

        <div class="header__informacion flex">
            <a href="../vistas_HU04/AdmonSolicitudes.html"><p class="btn-select__solicitud text--blue text--bold">Ver solicitudes</p></a>
           <div class="contener--style flex" > 
             <p class="text--blue text--bold border-top--blue">Administrar pólizas</p>
            <button id="btnCerrarSesion" class="header__btn">Cerrar Sesión</button>
            </div>
        </div>
        
        <form class="selectorProveedores-form grid">
            <div>
                <label class="colorAzulTexto">Seleccione proveedor</label>
                <select name="proveedor" id="selectorProveedor">
                    <option value="0">Seleccione...</option>
                </select>
            </div>
        </form>

        <div class="titulos grid">
                <h5 class="item" id="infoProveedor">INFORMACIÓN DEL PROVEEDOR</h5>
        </div>

        <form action="" class="formulario1 grid">
            <div>
                <label for="" class="colorAzulTexto">Tipo</label>
                <input type="text" name="tipoIdentificacion" id="selector-tipo--ID" class="inputs-informacion--Proveedor" placeholder="NIT" disabled>
            </div>
            <div>
                <label for="" class="colorAzulTexto">Número identificación</label>
                <input type="number" name="numeroIdentificacion" id="numeroIdentificacion" placeholder="Número Identificación" class="inputs-informacion--Proveedor" disabled>
            </div>
            <div>
                <label for="" class="colorAzulTexto">Nombre</label>
                <input type="text" name="nombreProveedor" id="nombreProveedor" placeholder="Nombre Proveedor" class="inputs-informacion--Proveedor" disabled>
            </div>
            <div>
                <label for="" class="colorAzulTexto">Razón social</label>
                <input type="text" name="razonSocialProveedor" id="razonSocialProveedor" placeholder="Razón social" class="inputs-informacion--Proveedor" disabled>
            </div>
        </form>
    
        <div class="titulos grid">
            <h5 class="item" id="contactoProveedor">CONTACTO DEL PROVEEDOR</h5>
        </div>

        <form action="" class="formulario2 grid">
            <div>
                <label for="" class="colorAzulTexto">Teléfono proveedor</label> <br>
                <input type="text" name="telefonoProveedor" id="telefonoProveedor" placeholder="Teléfono proveedor" class="inputs-informacion--contacto" disabled>
            </div>
            <div>
                <label for="" class="colorAzulTexto">Dirección de correo</label> <br>
                <input type="text" name="emailProveedor" id="emailProveedor" placeholder="Correo proveedor" class="inputs-informacion--contacto" disabled>
            </div>
            <div>
                <label for="" class="colorAzulTexto">Ciudad</label> <br>
                <input type="text" name="ciudadProveedor" id="ciudadProveedor" placeholder="Ciudad proveedor" class="inputs-informacion--contacto" disabled>
            </div>
        </form>

        <div class="titulos grid">
            <h5 class="item" id="adminPoliza">ADMINISTRACIÓN DE PÓLIZAS</h5>
        </div>

        <form action="" class="formulario3 grid">
            <div>
                <label for="" class="colorAzulTexto">Pólizas activas</label>
                <select name="selectorPolizasActivas" id="selector-polizas-activas">
                    <option value="0">Seleccione...</option>
                </select>
            </div>
            <div>
                <label for="" class="colorAzulTexto">Pólizas disponibles</label>
                <select name="" id="selector-polizas-disponibles" onchange="mostrarSelectorBeneficios()">
                    <option value="0">Seleccione...</option>
                    <option value="1">Póliza 1</option>
                    <option value="2">Póliza 2</option>
                    <option value="3">Póliza 3</option>
                    <option value="4">Póliza 4</option>
                    <option value="5">Póliza 5</option>
                </select>
            </div>
        </form>

        <form action="" class="flex formulario4" id="formularioBeneficios">            
            <div class="divFormulario4 flex">
                <p for="" class="colorAzulTexto">Beneficios</p>
                <select name="selectorBeneficios" id="selector-beneficios">
                    <option value="0">Seleccione...</option>
                    <option value="1">Beneficio 1</option>
                    <option value="2">Beneficio 2</option>
                    <option value="3">Beneficio 3</option>
                    <option value="4">Beneficio 4</option>
                    <option value="5">Beneficio 5</option>
                </select>
            </div>            
        </form>

        <div class="botones flex">
            <button id="btnAgregar">Agregar</button> <button id="btnEliminar">Eliminar</button>
        </div>
    </main>
    
    <footer></footer>
    
    <script type="module" src="./js/controlador.js"></script>
    <script type="module" src="./js/validacionesAdmon.js"></script>
    <script src="./js/funcionesAdmon.js"></script>
    <script src="../../app/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
</html>